<mat-sidenav-container fullscreen class="sidenav-container">

    <!-- Side navigation -->
    <mat-sidenav #drawer class="sidenav" fixedInViewport
            [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
            [mode]="(isHandset$ | async) ? 'over' : 'side'"
            [opened]="(isHandset$ | async) === false">
        <mat-toolbar class="mat-elevation-z8">Menu</mat-toolbar>
        <mat-nav-list>
            <a mat-list-item (click)="onRouterClick('');">Home</a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <!-- Header -->
        <mat-toolbar class="mat-elevation-z8" color="primary">
            <button *ngIf="isHandset$ | async" type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span>Angular PWA</span>
        </mat-toolbar>

        <!-- Content -->
        <router-outlet style="margin-bottom: 0px;"></router-outlet>

        <!-- Footer -->
        <footer style="position: fixed; bottom: 0px; overflow: hide; width: 100%; height: 55px; background-color: rgba(255, 128, 128, 0.6); ">
            <mat-toolbar class="footer" class="mat-elevation-z4" style="background-color: transparent;">
                <div style="display: inline-flex;">
                  This is PoC!
                </div>
            </mat-toolbar>
        </footer>
    </mat-sidenav-content>
</mat-sidenav-container>
